body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}
.App-header {
  background-color: #0074d9;
  color: #fff;
  text-align: center;
  padding: 2rem;
  padding-top: 120px;
}
.App-header h1 {
  font-size: 36px;
  margin: 0;
}
.App-header p {
  font-size: 20px;
  margin: 10px 0;
}
nav {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #333;
}

nav li {
  margin: 0 20px;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

nav li:hover {
  background-color: #0074d9;
}
.App-main {
  padding: 2rem;
  margin-top: 60px; 
}
section {
  margin: 2rem 0;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.Project {
  padding: 1rem;
  border: 1px solid #ddd;
  margin: 1rem 0;
  border-radius: 5px;
}

.Project h3 {
  font-size: 18px;
  margin: 0;
}

.Project p {
  font-size: 16px;
  margin: 10px 0;
}
a {
  color: #0074d9;
  text-decoration: none;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
